@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #111;
  color: #fafafa;
}
